// ==========================================================================
// Spacing and padding on elements
// TODO - Build mixin
// ==========================================================================

// Margin top
.margin-top--xxs  { margin-top: 0; }
.margin-top--xs   { margin-top: 0; }
.margin-top--sm   { margin-top: 0; }
.margin-top--md   { margin-top: 0; }
.margin-top--lg   { margin-top: 0; }
.margin-top--xl   { margin-top: 0; }
.margin-top--xxl  { margin-top: 0; }

// Margin bottom
.margin-bottom--xxs { margin-bottom: 0; }
.margin-bottom--xs  { margin-bottom: 0; }
.margin-bottom--sm  { margin-bottom: 0; }
.margin-bottom--md  { margin-bottom: 0; }
.margin-bottom--lg  { margin-bottom: 0; }
.margin-bottom--xl  { margin-bottom: 0; }
.margin-bottom--xxl { margin-bottom: 0; }

// Padding top and bottom
.padding-y--xxs {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-y--xs {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-y--sm {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-y--md {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-y--lg {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-y--xl {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-y--xxl {
  padding-top: 0;
  padding-bottom: 0;
}

// Padding left and right
.padding-x--xxs {
  padding-left: 0;
  padding-right: 0;
}

.padding-x--xs {
  padding-left: 0;
  padding-right: 0;
}

.padding-x--sm {
  padding-left: 0;
  padding-right: 0;
}

.padding-x--md {
  padding-left: 0;
  padding-right: 0;
}

.padding-x--lg {
  padding-left: 0;
  padding-right: 0;
}

.padding-x--xl {
  padding-left: 0;
  padding-right: 0;
}

.padding-x--xxl {
  padding-left: 0;
  padding-right: 0;
}
